#container{
	max-width: 960px;
	margin: 0 auto;
	margin-top: 60px;
}
button{
	width: 90px;
	background-color: #ddd;
}
.row{
	text-align: center;
}
#mainResult{
	text-align: left;
	margin-left: 118px;
	margin-top: 20px;
	width: 400px;
	color: #310101;
	font-size: 16px;	
}